body{
  margin:0;
  overflow-x:hidden;
  font-family: Georgia,Times,Times New Roman,serif; 

}

.poem {
  position: absolute;
  top: 0;
}
.poem section{
  height:100vh;
  width:100vw;  
  box-sizing: border-box;
  position: relative;
}

.poem section.is-active div {
  
  position: fixed;
  top: 50vh;
  left: 50vw;
}

.poem section.is-out div {
  top:70%;
}

.poem section>div{
  position: absolute;
  left:50%;
  margin-left:-200px;
  top:50%;
  margin-top: -100px;
  height:200px;
  width:400px;
  
}

.poem h1{
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
  margin-top: 0;
  font-size: 32px;
}

.poem p{
  margin-top: 0;
  font-size: 20px;
  padding-left: 60px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg section{
  height:100vh;
  width:100vw;  
  box-sizing: border-box;
  position: relative;
}

.bg section[data-key="again"] {
  background: linear-gradient(to bottom, #ffffff 0%,#C2EAF2 100%);
}
.bg section[data-key="sometimes"] {
  background: linear-gradient(to bottom, #C2EAF2 0%,#C2DAF2 100%);
}
.bg section[data-key="cycle"] {
  background: linear-gradient(to bottom, #C2DAF2 0%,#ADC3D9 100%);
}
.bg section[data-key="dance"] {
  background: linear-gradient(to bottom, #ADC3D9 0%,#99ACBF 100%);
}
.bg section[data-key="happiness"] {
  background: linear-gradient(to bottom, #99ACBF 0%,#FFFFA6 100%);
}
.bg section[data-key="joy"] {
  background: linear-gradient(to bottom, #FFFFA6 0%,#FF8C5E 100%);
}
.bg section[data-key="rushing"] {
  background: linear-gradient(to bottom, #FF8C5E 0%,#FC2423 100%);
}
.bg section[data-key="overwhelmed"] {
  background: linear-gradient(to bottom, #FC2423 0%,#67221B 100%);
}
.bg section[data-key="scared"] {
  background: linear-gradient(to bottom, #67221B 0%,#4E1A14 100%);
}
.bg section[data-key="hide"] {
  background: linear-gradient(to bottom, #4E1A14 0%,#291A18 100%);
}
.bg section[data-key="helpless"] {
  background: linear-gradient(to bottom, #291A18 0%,#291A18 100%);
}
.bg section[data-key="why"] {
  background: linear-gradient(to bottom, #291A18 0%,#292525 100%);
}
.bg section[data-key="wrist"] {
  background: linear-gradient(to bottom, #292525 0%,#292525 100%);
}
.bg section[data-key="cry"] {
  background: linear-gradient(to bottom, #292525 0%,#151629 100%);
}
.bg section[data-key="purr"] {
  background: linear-gradient(to bottom, #151629 0%,#152129 100%);
}
.bg section[data-key="cat"] {
  background: linear-gradient(to bottom, #152129 0%,#1C2B36 100%);
}
.bg section[data-key="wake"] {
  background: linear-gradient(to bottom, #1C2B36 0%,#70735A 100%);
}
.bg section[data-key="ashamed"] {
  background: linear-gradient(to bottom, #70735A 0%,#D9D2A2 100%);
}
.bg section[data-key="own"] {
  background: linear-gradient(to bottom, #D9D2A2 0%,#ECF0BC 100%);
}
.bg section[data-key="time"] {
  background: linear-gradient(to bottom, #ECF0BC 0%,#64BBE2 100%);
}
.bg section[data-key="scars"] {
  background: linear-gradient(to bottom, #64BBE2 0%,#8ADBFF 100%);
}
.bg section[data-key="family"] {
  background: linear-gradient(to bottom, #8ADBFF 0%,#CFEFFD 100%);
}
.bg section[data-key="future"] {
  background: linear-gradient(to bottom, #CFEFFD 0%,#eeeeee 100%);
}
.bg section[data-key="thanks"] {
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 10%,#eeeeee 100%);
}

.poem section[data-key="scared"],
.poem section[data-key="hide"],
.poem section[data-key="helpless"],
.poem section[data-key="why"],
.poem section[data-key="wrist"],
.poem section[data-key="cry"],
.poem section[data-key="purr"],
.poem section[data-key="cat"]{
  color:#AB92C3;
}























